<!DOCTYPE html>
<html>
<head>
    <title>Tic-Tac-Toe</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="resources/angular-material.css"/>
    <link rel="stylesheet" href="resources/tic-tac-toe.css"/>

    <script src="libs.js"></script>
    <script src="tic-tac-toe.js"></script>
</head>

<body ng-app="ticTacToe" ng-controller="GameController as vm" ng-strict-di layout="column">
<section>

    <div layout="row" layout-align="start" layout-padding>

        <md-button class="md-primary md-raised" ng-class="{'md-icon-button': vm.screenIsSmall}"
                   ng-if="!vm.gameExists"
                   ng-disabled="!gameConfig.$valid"
                   ng-click="vm.startGame()">
            <md-icon md-svg-icon="play"></md-icon> <span ng-hide="vm.screenIsSmall">Play</span>
        </md-button>

        <md-button class="md-primary md-raised" ng-class="{'md-icon-button': vm.screenIsSmall}"
                   ng-if="vm.gameExists"
                   ng-show="vm.paused"
                   >
            <md-icon md-svg-icon="play"></md-icon> <span ng-hide="vm.screenIsSmall">Play</span>
        </md-button>


        <md-button class="md-warn md-raised" ng-class="{'md-icon-button': vm.screenIsSmall}"
                   ng-disabled="!(vm.gameExists)"
                   ng-click="vm.endGame()">
            <md-icon md-svg-icon="stop"></md-icon> <span ng-hide="vm.screenIsSmall">End</span>
        </md-button>
    </div>

</section>



<section>
    <form name="gameConfig" novalidate>
        <div layout="column" layout-padding>
            <div layout="row">
                <h2 class="md-subhead" flex="20" ng-hide="vm.screenIsSmall">Game</h2>
                <md-input-container flex>
                    <label>First player</label>
                    <md-select ng-disabled="vm.gameExists"
                               ng-model="vm.gameConfig.gameSign">
                        <md-option ng-value="vm.PIECES.X">Crosses (X)</md-option>
                        <md-option ng-value="vm.PIECES.O">Noughts (O)</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </form>
</section>


<section>
    <div id="board-container" layout="row" layout-align="center center" style="position: relative">
        <board flex="100" num-rows="3" num-cols="3"></board>
    </div>
</section>
</body>
</html>
